.checkbox-align {
    text-align: center;
}

.nav-link {
    color: rgb(13, 110, 253);
}

.nav-link:hover {
    color: rgb(11, 94, 215);
}

.icon-span {
    display: flex;
    align-items: center;
    gap: 6px;
}
